{% extends '__base__.html' %}

{% block title %}日志{% endblock %}

{% block beforehead %}
<script>
	function initVM(data) {
		var vm = new Vue({
			el: '#vm',
			data: {
				blogs: data.blogs,
				page: data.page
			}
		});
		$('#vm').show();
	}
	$(function() {
		// awesome.js中的getJSON(url,data,callback)把data中的参数转换为形如"a=1&b=2"的键值对
		// 然后传递给_httpJSON函数提交
		getJSON('/api/blogs', {
			page: {{ page_index }}
		}, function (err, results) {
			if (err) {
				return fatal(err);
			}
			$('#loading').hide();
			// results是handlers.py中api_blogs函数返回的dict
			initVM(results);
		});
	});
</script>
{% endblock %}

{% block content %}

	<div id="vm" class="uk-width-medium-3-4">
		<div v-repeat="blog: blogs">
			<article class="uk-article">
				<h2><a target="_blank" v-attr="href: '/blog/'+blog.id" v-text="blog.name"></a></h2>
				<!-- 通过jinja2的filter(过滤器), 把一个浮点数转换成日期字符串 -->
				<p v-text="blog.created_at.toDateTime()" class="uk-article-meta"></p>
				<p style="font-size:14px" v-text="blog.summary"></p>
				
				<span v-if="blog.tag1" style="font-size:12px" v-text="blog.tag1" class="uk-badge uk-badge-success"></span>
				<span v-if="blog.tag2" style="font-size:12px" v-text="blog.tag2" class="uk-badge uk-badge-success"></span>
				<span v-if="blog.tag3" style="font-size:12px" v-text="blog.tag3" class="uk-badge uk-badge-success"></span>
			</article>
			<hr class="uk-article-divider">
		</div>
		<div v-component="pagination" v-with="page"></div>
	</div>

	<div class="uk-width-medium-1-4">
		<div class="uk-panel uk-panel-header">
			<h3 class="uk-panel-title">友情链接</h3>
			<ul class="uk-list uk-list-line">
				<li><i class="uk-icon-edit"></i> <a target="_blank" href="https://leetcode.com/problemset/algorithms/">LeetCode</a></li>
				<li><i class="uk-icon-bookmark"></i> <a target="_blank" href="http://dblp.org/search/">Paper</a></li>
				<li><i class="uk-icon-stack-overflow"></i> <a target="_blank" href="https://stackoverflow.com/">Stack Overflow</a></li>
				<li><i class="uk-icon-btc"></i> <a target="_blank" href="http://8btc.com/">block chain</a></li>
			</ul>
		</div>
		<div style="margin-top:50px;" align="center">
                	<p>点击量 </p>
                	<img border="0" src="http://cc.amazingcounters.com/counter.php?i=3221933&c=9666112" alt="AmazingCounters.com">
        	</div>
		<div height="100" width="100" style="margin-top:50px;" align="center">
                	<p>听听本月Xiao喜欢的歌</p>
			<audio controls="controls"  height="100" width="100">
				<source src="/static/msc/201812Cologne.mp3" type="audio/mp3" preload="preload"/>
                        	<embed height="100" width="100" src="song.mp3" />
			</audio>
                </div>
	</div>
{% endblock %}
