{% extends '__base__.html' %}
{% block title %}收藏{% endblock %}
{% block beforehead %}
<script>
	function initVM(data) {
		var vm = new Vue({
			el: '#vm',
			data: {
				bookmarks: data.bookmarks,
				page: data.page,
			},
			methods: {
				set_private: function (bookmark) {	
					postJSON('/api/bookmarks/' + bookmark.id + '/secret', function (err, r) {
						if (err) {
							return alert(err.message || err.error || err);
						}
						refresh();
					});
				},
				edit_bookmark: function (bookmark) {
					location.assign('/manage/bookmarks/edit?id=' + bookmark.id);
				},
				delete_bookmark: function (bookmark) {
					// confirm()方法用于显示一个带有指定消息和OK及取消按钮的对话框
					if (confirm('确认要删除“' + bookmark.name + '”？删除后不可恢复！')) {
						postJSON('/api/bookmarks/' + bookmark.id + '/delete', function (err, r) {
							if (err) {
								return alert(err.message || err.error || err);
							}
							// refresh刷新保留之前的缓存内容, 重新加载页面
							refresh();
						});
					}
				}
			}
		});
		$('#vm').show();
	}
	$(function() {
		// awesome.js中的getJSON(url,data,callback)把data中的参数转换为形如"a=1&b=2"的键值对
		// 然后传递给_httpJSON函数提交
		getJSON('/api/bookmarks', {
			page: {{ page_index }}
		}, function (err, results) {
			if (err) {
				return fatal(err);
			}
			$('#loading').hide();
			// results是handlers.py中api_blogs函数返回的dict
			initVM(results);
		});
	});
</script>
{% endblock %}
{% block content %}
	<div class="uk-width-1-1 uk-margin-bottom">
		<div class="uk-panel uk-panel-box">
			<ul class="uk-breadcrumb">
				<li><a href="/manage/comments">评论</a></li>
                <li><a href="/manage/blogs">日志</a></li>
                <li class="uk-active"><span>收藏</span></li>
				<li><a href="/manage/users">用户</a></li>
			</ul>
		</div>
	</div>
	<div id="error" class="uk-width-1-1"></div>
	<div id="loading" class="uk-width-1-1 uk-text-center">
		<span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> 正在加载...</span>
	</div>
	<div id="vm" class="uk-width-1-1">
		<a href="/manage/bookmarks/create" class="uk-button uk-button-primary"><i class="uk-icon-plus"></i> 新收藏</a>
		<table class="uk-table uk-table-hover">
			<thead>
				<tr>
					<th class="uk-width-5-10">标题 / 摘要</th>
					<th class="uk-width-2-10">作者</th>
					<th class="uk-width-2-10">创建时间</th>
					<th class="uk-width-1-10">操作</th>
				</tr>
			</thead>
			<tbody>
				<!-- 可以把v-repeat="blog: blogs"看成循环代码, 所以可以在一个<tr>内部引用循环变量blog -->
				<tr v-repeat="bookmark: bookmarks" >
					<td>
						<a target="_blank" v-attr="href: bookmark.url" v-text="bookmark.name"></a>
					</td>
					<td>
						<a target="_blank" v-attr="href: '/user/'+bookmark.user_id" v-text="bookmark.user_name"></a>
					</td>
					<td>
						<span v-text="bookmark.created_at.toDateTime()"></span>
					</td>
					<td>
						<a href="#0" v-on="click: edit_bookmark(bookmark)"><i class="uk-icon-edit"></i></a>
						<a href="#0" v-on="click: delete_bookmark(bookmark)"><i class="uk-icon-trash-o"></i></a>
						<!-- <script> -->
						<!-- document.getElementById("cond").onerror = function MyFunction(private) { -->
							<!-- alert(private); -->
							<!-- if (private == 1) { -->
								<!-- $('#private').removeClass('uk-icon-lock'); -->
								<!-- $('#private').addClass('uk-icon-unlock'); -->
							<!-- } -->
							<!-- else { -->
								<!-- $('#private').removeClass('uk-icon-unlock'); -->
								<!-- $('#private').addClass('uk-icon-lock'); -->
							<!-- } -->
						<!-- } -->
						<!-- </script> -->
						<a id="private" href="#0" v-on="click: set_private(bookmark)" v-if='!bookmark.private'><i class="uk-icon-unlock" title="已全部可见，点击更改"></i></a>
						<a id="private" href="#0" v-on="click: set_private(bookmark)" v-if='bookmark.private'><i class="uk-icon-lock" title="仅自己可见，点击更改"></i></a>
					</td>
				</tr>
			</tbody>
		</table>
		<div v-component="pagination" v-with="page"></div>    <!-- __base__.html里的pagination不是被注释了吗? -->
	</div>
{% endblock %}
